.body1 {
    display: flex;
    flex-direction: column;
    background-color: #1e272e;
    color: #39af3d;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
    margin: -2%;
    padding-top: 7%;
    padding-bottom: 6%;
}

.bb {
    background-color: #36283bbe;
    border: transparent;
    border-radius: 5%;
    /* margin-left: 3%;
    margin-right: 3%; */
}

.transparent-input {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px 12px;
    width: 200px;
    margin-left: 7%;
    outline: none;
}

#name {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px 12px;
    width: 400px;
    margin-left: 7%;
}

#price {
    width: 110px;
    height: 30px;
}

#name:focus {
    border: 2px solid #ffffff;
}

.transparent-input1:focus {
    border: 2px solid #ffffff;
}

.submit_addPage {
    background-color: #39af3d;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px 12px;
    width: 400px;
    outline: none;
    margin-bottom: 3%;
    cursor: pointer;
}

.submit_addPage:hover {
    background-color: #2e9832;
}

.transparent-area {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
    text-align: left;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 8px 12px;
    outline: none;
}

.transparent-area:focus {
    border: 2px solid #ffffff;
}

.p {
    text-align: center;
    color: rgb(252, 235, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
}

span {
    color: rgb(195, 65, 65);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#color0 {
    margin-top: 40px !important;
}

#color1 {
    border-radius: 30%;
    padding: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#price {
    width: 70px;
    height: 50px;
}

.label-container {
    display: flex;
    justify-content: space-between;
    margin-left: 35%;
    padding-right: 8%;
    align-items: center;
    font-size: 25px;
}

/* .label-container:hover{
    background-color: #39af3d4b;
} */

.transparent-input {
    align-self: flex-end;
    margin-right: 50%;
}

.transparent-area {
    align-self: flex-end;
    margin-right: 50%;
    height: 100px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-container {
    position: relative;
}

.label-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0);
    transition: background-color 0.3s ease;
    z-index: -1;
}

.label-container:hover::before {
    background-color: rgba(0, 255, 0, 0.2);
}

.transition-element {
    transition: background-color 0.3s ease;
}

.label-container:hover .label {
    background-color: rgba(46, 253, 46, 0.129) !important;
    border-radius: 5px;
}

.label-container:hover .transparent-input,
.label-container:hover .transparent-area {
    background-color: rgba(46, 253, 46, 0.129) !important;
}

.label-container:hover .label {
    color: rgb(255, 255, 255) !important;
}

.transparent-input:focus {
    border: 2px solid #ffffff !important;
}

#description:focus {
    border: 2px solid #ffffff !important;
}


@media (max-width: 768px) {
    .body1 {
        padding: 20px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 100px 20px 20px 0 !important;
        margin-left: -30% !important;
    }

    .bb {
        background-color: #0291f7be;
    }

    .transparent-input,
    .transparent-area {
        width: 90% !important;
        margin: 10px 50% !important;
        align-self: center !important;
    }

    .label-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 18px;
        width: 100%;
    }

    #color0 {
        margin-top: 40px !important;
    }

    #color1 {
        padding: 2px;
        width: 35px !important;
        height: 35px;
    }

    #price {
        width: 70px !important;
    }

    .p {
        font-size: 28px;
        text-align: right;
        margin-right: -33px;
    }

    .submit_addPage {
        width: 81% !important;
        font-size: 25px;
        /* margin-right: -20px; */
        align-items: center !important;
        margin-left: 108px !important;
    }
}