.body_delete{
    background-color: transparent;
}

.del_div{
    background-color: #1c252b;
    padding-top: 3%;
}

.body2 {
    background-color: #1c252b;
    color: #22fa2a;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
    margin: -2%;
    padding-top: 7%;
    padding-bottom: 6%;
}

.body1 {
    color: #ffffff !important;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c252b !important;
}

.search-form {
    background-color: #1c252b !important;
    background-size: 100%;
    /* padding-bottom: 125px; */
    padding-bottom: 200px;
}

.search_input {
    border: 2px solid #faa722 !important;
    background-color: transparent;
    width: 350px !important;
    color: aliceblue !important;
    font-size: 25px !important;
    padding: 6px !important;
    border-radius: 8px;
}

.title {
    text-align: center;
    font-size: 35px;
}

.bb {
    background-color: #1c252b !important;
    font-size: 35px;
}

.body {
    /* padding-top: 3%;
    padding-bottom: 3%; */
    padding: 3%;
    background-color: #1c252b !important;
    text-align: center;
}

.reset_button {
    background-color: #a7a7a779;
    border: 2px solid #ccc;
    border-radius: 5px !important;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 100px;
    padding: 8px 12px;
    outline: none;
}

.reset_button:focus {
    border: 2px solid #4caf50;
}

.transparent-input {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px 12px;
    margin-left: 7%;
    margin-left: 3%;
    margin-right: 0;
    text-align: right;
    width: 480px;
    outline: none;
}

.transparent-input:focus {
    border: 2px solid #4caf50;
}

/* .search_button {
    align-self: center;
    margin-right: 20px;
} */

/* .search_button {
    background-color: transparent;
    border: 2px solid #4caf50;
    border-radius: 5px !important;
    color: rgb(255, 255, 255);
    font-size: 25px !important;
    padding: 6px !important;
    width: 130px !important;
    outline: none;
    margin-left: 3px;
} */

/* .search_button:focus {
    border: 2px solid #85d787;
    background-color: #77f379;
    color: #3e3e3e;
} */

.search_button {
    background-color: transparent;
    border: 2px solid #4caf50;
    border-radius: 6px !important;
    color: rgb(255, 255, 255);
    font-size: 25px !important;
    align-self: center;
    margin-left: 4px;
    padding: 6px !important;
    width: 130px !important;
    outline: none;
}

.search_button:hover {
    background-color: #4caf50;
    color: #12171b;
    cursor: pointer;
}

.search_button:focus {
    border: 2px solid #85d787;
}

.transparent-area {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
    margin-left: 5%;
    text-align: right;
    text-align: left;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 8px 12px;
    outline: none;
}

.transparent-area:focus {
    border: 2px solid #4caf50;
}

.tt {
    text-align: center;
    color: rgb(182, 252, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

span {
    color: rgb(195, 65, 65);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#color {
    border-radius: 30%;
    padding: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.label-container {
    display: flex;
    justify-content: space-between;
    margin-left: 35%;
    align-items: center;
}

.transparent-input {
    align-self: flex-end;
    margin-right: 50%;
    text-align: left;
}

.transparent-area {
    align-self: flex-end;
    margin-right: 50%;
    height: 100px;
}

.label-container {
    position: relative;
}

.label-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0);
    transition: background-color 0.3s ease;
    z-index: -1;
}

.label-container:hover::before {
    background-color: rgba(0, 255, 0, 0.2);
}

.transition-element {
    transition: background-color 0.3s ease;
}

.label-container:hover .label,
.label-container:hover .transparent-input,
.label-container:hover .transparent-area {
    background-color: rgba(46, 253, 46, 0.129);
}

.label-container:hover .label {
    color: rgb(197, 247, 190);
}

.ok {
    color: #000000;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 25px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.ok:hover {
    background-color: #b0ffb3;
    border: 2px solid #ffffff;
}

@media (max-width: 768px) {
    .body {
        margin: -300px 0 0 -120px;
    }

    #deleteSearchSaction{
        margin-top: 0% !important;
    }

    .search_input {
        width: 230px !important;
    }

    .search_button {
        width: 100px !important;
    }

    .reset_button {
        margin-bottom: 165px;
    }

    .body_delete {
        margin-top: 170px;
        margin-left: 130px;
    }

    .reset_button{
        margin-bottom: 0;
    }
    .body2 {
        text-align: center;
        align-self: center;
    }
}