body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.bg {
    background-image: url("./files/Y.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 104vh;
    margin-top: -120px;
    margin-bottom: 6%;
    position: relative;
    z-index: 2;
}

.lab {
    color: rgb(255, 112, 112);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);

}

.parallax {
    height: 66vh;
    background-image: url("./files/B.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.overlay {
    position: relative;
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    z-index: 3;
    margin-top: -66vh;
}

.offer {
    font-size: 45px;
    color: rgb(226, 116, 72);
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.coupon-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.coupon {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.coupon p {
    margin: 0 0 10px;
}

.coupon-code {
    font-weight: bold;
}

.coupon button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.coupon button:hover {
    background-color: #ccc;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    min-height: 100vh;
    margin-bottom: 4%;
    padding-top: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px;
    margin-left: -110%;
    margin-right: 15%;
    margin-bottom: 10%;
}

#f {
    padding-top: 18%;
}

.header {
    direction: ltr;
    margin-left: 11%;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 40px;
}

.img {
    width: 30px;
    height: 30px;
    padding-left: 50px;
}

.search-icon {
    position: absolute;
    right: 80px;
    top: 25px;
    pointer-events: none;
    color: #329700;
}

.search-container {
    position: sticky;
    top: 77px;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}

.search-input {
    padding-left: 30px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 1px;
    margin-left: -29%;
}

.search-input:focus {
    outline: 1px solid #ff7913;
    box-shadow: none;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
}

.grid-item {
    background-color: transparent;
    border: 2px solid #ffffff38;
    margin-left: 0px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(34, 34, 34);
    height: 318px;
    width: 300px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.grid-item:hover {
    background-color: rgba(174, 253, 168, 0.076);
}

.ditails {
    background-color: transparent;
    border: 1px solid #45ff1c;
    color: rgb(254, 255, 253);
    position: relative;
    margin-top: 0;
}

.item-name {
    position: absolute;
    top: 2px;
    text-align: left;
    margin: 2px;
    padding: 10px;
    padding-left: 25px;
}

.dd-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    padding-bottom: 25px;
    margin-top: 25px;
    height: 37px;
    font-weight: lighter;
    margin-bottom: 5px;
}

.price {
    font-size: 20px;
    color: rgb(192, 247, 200);
}

.item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    height: 220px;
    width: 300px;
}

.item-container {
    position: relative;
}

.dd {
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    background-color: #00000052;
    border: solid 0.1px rgba(255, 255, 255, 0.339);
    border-radius: 37%;
    padding: 5px;
    padding-bottom: 0;
}

.dd:hover {
    background-color: transparent;
    box-shadow: 0 0 4px rgba(162, 153, 153, 0.407);
    border-radius: 37%;
    overflow: visible;
}

.load-more-button {
    text-align: center;
    margin: 0 auto;
    margin-left: -41%;
    border-radius: 6px;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a0ffaf;
    color: rgb(53, 53, 53);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10%;
}

.load-more-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    background-color: transparent;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 4px solid #ffffff;
    border-top: 4px solid #ff7913;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .bg{
        margin-top: -27px;
    }
}