.body1 {
    display: flex;
    flex-direction: column;
    background-color: #1c252b;
    color: #ffffff !important;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
    margin: -2%;
    padding-top: 7%;
    padding-bottom: 6%;
}

.search_input{
    border: 2px solid #faa722 !important;
    background-color: transparent;
    width: 350px !important;
    color: aliceblue !important;
    font-size: 25px !important;
    padding: 6px !important;
    border-radius: 8px;
}

.title {
    text-align: center;
    font-size: 30px !important;
}

.p1 {
    color: rgb(255, 255, 255);
    margin-top: -10%;
}

.bb {
    font-size: 35px;
}

.body_update {
    padding-top: 3%;
    padding-bottom: 1%;
    /* background-color: transparent; */
}

.search-form{
    background-color: #1c252b;
}

.reset_button {
    background-color: #243038af !important;
    border: 2px solid #35454f !important;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 100px;
    padding: 8px 12px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    align-self: center;
}

.reset_button:hover {
    border: 2px solid #b8b8b8 !important;
    cursor: pointer;
}

.transparent-input {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px 12px;
    margin-left: 7%;
    margin-left: 3%;
    margin-right: 0;
    text-align: right;
    width: 480px;
    outline: none;
}

.transparent-input:focus {
    border: 2px solid #4caf50;
}

.search_button {
    background-color: transparent;
    border: 2px solid #4caf50;
    border-radius: 6px !important;
    color: rgb(255, 255, 255);
    font-size: 25px !important;
    align-self: center;
    margin-left: 4px;
    padding: 6px !important;
    width: 130px !important;
    outline: none;
}

.search_button:hover{
    background-color: #4caf50;
    color: #12171b;
    cursor: pointer;
}

.search_button:focus {
    border: 2px solid #85d787;
}

.transparent-area {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
    margin-left: 5%;
    text-align: right;
    text-align: left;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 8px 12px;
    outline: none;
}

.transparent-area:focus {
    border: 2px solid #4caf50;
}

#tt {
    text-align: center;
    color: rgb(182, 252, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

span {
    color: rgb(195, 65, 65);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#color {
    border-radius: 30%;
    padding: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.label-container {
    display: flex;
    justify-content: space-between;
    margin-left: 35%;
    align-items: center;
}

.transparent-input {
    align-self: flex-end;
    margin-right: 50%;
    text-align: left;
}

.transparent-area {
    align-self: flex-end;
    margin-right: 50%;
    height: 100px;
}

.label-container {
    position: relative;
}

.label-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0);
    transition: background-color 0.3s ease;
    z-index: -1;
}

.label-container:hover::before {
    background-color: transparent !important;
}

.transition-element {
    transition: background-color 0.3s ease;
}

#image {
    width: 310px;
}

.label-container:hover .label,
.label-container:hover .transparent-input,
.label-container:hover .transparent-area {
    /* background-color: rgba(253, 81, 46, 0.129); */
    background-color: rgba(0, 255, 0, 0.2);
}

.label-container:hover .label {
    color: rgb(247, 212, 190);
}

@media (max-width: 768px) {
    .body_update{
        margin-top: 89px;
    }
    .search_input{
        width: 230px !important;
    }
    .search_button{
        width: 150px !important;
    }
    .reset_button{
        margin-bottom: 165px;
    }
}