.update_order_form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 89vh;
    background-color: #2C2F3A;
}

.bodyUpdateOrder {
    background-color: #3d4a5c76;
    margin-top: -15px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.sent {
    font-size: 30px;
    font-weight: bold;
    color: #F2F2F2;
    margin-bottom: 30px;
}

.yes_No {
    color: #ffffff !important;
    border: none !important;
    outline: none !important;
    padding: 15.5px 30px !important;
    margin-right: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px !important;
    border-radius: 8px !important;
    width: 204px !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding-left: 6px !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='%23ffffff'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 18px;
}

.yes_No option:hover{
    background-color: #10a562 !important;
}

.yes_No:hover, .yes_No:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.yes_No option {
    background-color: #3d4a5c;
    color: #ffffff;
}

.ok_b {
    color: #ffffff;
    background-color: #10a562;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.ok_b:hover {
    background-color: #028b4d;
}

.loading-text {
    font-size: 20px;
    color: #BBBBBB;
    font-style: italic;
}

@media (max-width: 768px) {
    .update_order_form {
        padding: 20px;
        min-height: 96vh;
    }

    .bodyUpdateOrder {
        padding: 20px;
    }

    .sent {
        font-size: 24px;
    }

    .ok {
        font-size: 18px;
        padding: 12px 25px;
    }
}
