.update_order_form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 89vh;
    background-color: #2C2F3A;
}

.bodyUpdateOrder {
    background-color: #3d4a5c76;
    margin-top: -15px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.sent {
    font-size: 30px;
    font-weight: bold;
    color: #F2F2F2;
    margin-bottom: 30px;
}

.ok_b {
    color: #ffffff;
    background-color: #10a562;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.ok_b:hover {
    background-color: #028b4d;
}

.loading-text {
    font-size: 20px;
    color: #BBBBBB;
    font-style: italic;
}

@media (max-width: 768px) {
    .update_order_form {
        padding: 20px;
        min-height: 96vh;
    }

    .bodyUpdateOrder {
        padding: 20px;
    }

    .sent {
        font-size: 24px;
    }

    .ok {
        font-size: 18px;
        padding: 12px 25px;
    }
}
