.contact_page {
    background-image: url("../pages/product/files/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -5%;
    padding-top: 190px !important;
    padding: 70px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 16vh;
    padding-top: 165px;
}

.container_con {
    margin-left: 15%;
}

.title_con {
    color: rgb(128, 51, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 60px;
}

.cf {
    display: flex;
    flex-direction: column;
    gap: 7px;
    background-color: rgba(255, 255, 255, 0.558);
    padding: 5px 0 20px 30px;
    border-radius: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    color: #333;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 16px;
}

textarea {
    resize: none;
    height: 130px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom: 2px solid #eb5a00;
    outline: none;
}

.con_container {
    display: flex;
    justify-content: flex-end;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 32px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: rgb(185, 19, 19);
    font-size: 14px;
    padding-bottom: -20px !important;
    margin-bottom: -2px !important;
    padding-right: 30px !important;
}

.success-message {
    color: rgb(3, 154, 3) !important;
    font-size: 15px !important;
    padding-right: 30px !important;
    margin-bottom: -2px !important;
}

.con_tytle {
    color: #ffffff;
    font-size: 36px;
    text-align: left;
    margin-top: 20px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(9, 255, 0);
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.con_details {
    padding-top: 5px;
    width: 40%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.con_details h1 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.con_details .icon {
    font-size: 24px;
    color: #4caf50;
}

.con_details .s {
    font-size: 18px;
    font-weight: normal;
    color: #eee;
}

.submit-button {
    background-color: #4caf50;
    color: white;
    margin: 10px 30px 0 0;
    margin-bottom: 0px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.submit-button i {
    font-size: 18px;
}

.submit-button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .contact_page {
        flex-direction: column;
        margin-top: -25px;
        padding-top: 200px !important;
    }

    .container_con {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: auto;
    }

    .con_details {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: auto;
        padding-top: 50px;
    }
}