.body1 {
    color: #ffffff !important;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c252b;
}

.bodyUpdate {
    background-color: #1c252b;
    color: #22fa2a;
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
    margin: -2%;
    margin-top: -12%;
    padding-top: -10%;
    padding-bottom: 6%;
}

.search_input {
    border: 2px solid #faa722 !important;
    width: 350px !important;
    color: aliceblue !important;
    font-size: 25px !important;
    padding: 6px !important;
    border-radius: 8px;
}

.title {
    text-align: center;
    font-size: 30px !important;
}

.p1 {
    color: rgb(255, 255, 255);
    margin-top: -10%;
}

.bb {
    font-size: 35px;
}

.body_update {
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: #1c252b;
}

.search-form {
    background-color: #1c252b;
}

.reset_button {
    background-color: #243038af !important;
    border: 2px solid #35454f !important;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 100px;
    padding: 8px 12px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    align-self: center;
}

.reset_button:hover {
    border: 2px solid #b8b8b8 !important;
    cursor: pointer;
}

.transparent-input {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px 12px;
    margin-left: 7%;
    margin-left: 3%;
    margin-right: 0;
    text-align: right;
    width: 480px;
    outline: none;
}

.transparent-input:focus {
    border: 2px solid #4caf50;
}

.search_button {
    background-color: transparent;
    border: 2px solid #4caf50;
    border-radius: 6px !important;
    color: rgb(255, 255, 255);
    font-size: 25px !important;
    align-self: center;
    margin-left: 4px;
    padding: 6px !important;
    width: 130px !important;
    outline: none;
}

.search_button:hover {
    background-color: #4caf50;
    color: #12171b;
    cursor: pointer;
}

.search_button:focus {
    border: 2px solid #85d787;
}

.transparent-area {
    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
    margin-left: 5%;
    text-align: right;
    text-align: left;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 8px 12px;
    outline: none;
}

.transparent-area:focus {
    border: 2px solid #4caf50;
}

#tt {
    text-align: center;
    color: rgb(182, 252, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

span {
    color: rgb(195, 65, 65);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#color {
    border-radius: 30%;
    padding: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.label-container {
    display: flex;
    justify-content: space-between;
    margin-left: 35%;
    align-items: center;
}

.transparent-input {
    align-self: flex-end;
    margin-right: 50%;
    text-align: left;
}

.transparent-area {
    align-self: flex-end;
    margin-right: 50%;
    height: 100px;
}

.label-container {
    position: relative;
}

.label-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0);
    transition: background-color 0.3s ease;
    z-index: -1;
}

.label-container:hover::before {
    background-color: transparent !important;
}

.transition-element {
    transition: background-color 0.3s ease;
}

#image {
    width: 310px;
}

.submit_updatePage {
    background-color: #39af3d;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px 12px;
    width: 420px;
    margin-left: -1.5%;
    outline: none;
    margin-bottom: 3%;
    cursor: pointer;
}

.submit_updatePage:hover {
    background-color: #2e9832;
}

.label-container:hover .label,
.label-container:hover .transparent-input,
.label-container:hover .transparent-area {
    /* background-color: rgba(253, 81, 46, 0.129); */
    background-color: rgba(0, 255, 0, 0.2);
}

.label-container:hover .label {
    color: rgb(247, 212, 190);
}

@media (max-width: 768px) {
    .body_update {
        margin: 0 auto;
        text-align: center;
    }

    .bodyUpdate{
        margin-top: -36% !important;
        padding-top: 0;
    }

    .search-form,
    .update-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .label-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    .label,
    .transparent-input,
    .transparent-area {
        text-align: center !important;
        margin: 5px 0 !important;
        width: 100% !important;
        max-width: 300px !important;
        margin-right: 65% !important;
    }

    #color{
        padding: 2px;
        width: 35px !important;
        height: 35px;
    }

    .submit_updatePage {
        margin: 20px auto;
        width: 280px;
    }

    .transparent-input {
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .search_input {
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    #searchSaction {
        margin-left: 5% !important;
        margin-top: 30% !important;
    }
}