.navbar-container {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0a0a0a88;
    padding: 8px 15px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px !important;
}

.overlay-navbar {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 14px !important;
    letter-spacing: 1.7px;
    text-decoration: none;
    padding: 0 0;
}

.overlay-navbar:hover {
    color: rgba(149, 245, 144, 0.884);
}

.overlay-navbar.active-link {
    color: rgba(149, 245, 144, 0.884);
}

#userLink {
    margin-left: 5px;
    text-transform: uppercase;
}

#urlPicUser{
    border-radius: 50%;
    border: 0px solid white;
}

.nav_con {
    position: fixed;
    padding: 8px 15px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px !important;
}

.color-button {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-right: 0;
    margin-left: -30px !important;
}

.nav_color-input {
    position: absolute;
    opacity: 0;
    border: none;
}

@media (max-width: 768px) {
    .navbar-container {
        background-color: #0a0a0ab4;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 50px !important;
    }

    .nav_con {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0;
        padding: 15px 2px;
        margin-top: -25px;
        direction: ltr;
        /* padding-left: 30px !important; */
        padding-left: 0 !important;
    }

    .overlay-navbar {
        margin: 1px 0;
        font-size: 12px;
        text-align: center;
    }

    .overlay-navbar img {
        width: 20px;
        height: 20px;
        position: relative;
        top: 6px;
    }

    .nav_pic {
        margin: auto;
        display: block;
        position: absolute !important;
        top: 5px;
        cursor: pointer;
    }

    .color-button {
        position: absolute !important;
        top: 7px;
        left: -25px;
    }

    .nav_con {
        margin-top: -5px;
    }
}

@media (min-width: 768px) {
    .navbar-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .overlay-navbar {
        margin: 0 15px;
        font-size: 16px;
    }
}