body {
  padding-top: 5%;
  background-color: #1e272e;
  font-family: Arial, sans-serif;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -2.5%;
}

.login-form {
  background-color: #34495e4b;
  padding: 30px 40px 40px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.662);
  width: 400px;
}

.login-form h2 {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.login-form input {
  box-sizing: border-box;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  margin: 10px auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #b0c2d0;
  color: #000000 !important;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
  transition: border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.login-form input:focus {
  outline: none !important;
  border-bottom: 2px solid #4caf50 !important;
}

.login-form button {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
}

.login-form button:hover {
  background-color: #45a049;
}

.logout{
  color: #fff;
  text-decoration: none;
}

.logout:hover{
  color: #ffdf8e;
}

.reg {
  color: #9afba2;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-decoration: none !important;
  display: inline-block;
}

.reg:hover {
  color: #c4f8c2;
  text-decoration: none;
}

#reg1{
  margin-left: 42.2px;
}

@media (max-width: 768px) {
  .login-container{
      margin-top: 30px;
  }
}