.registration-form h2 {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.registration-container {
    background-color: #1e272e;
    font-family: Arial, sans-serif;
    color: #fff;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.registration-form {
    background-color: #34495e22;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.registration-form h2 {
    color: #fff;
    margin-bottom: 40px;
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

.registration-form input {
    box-sizing: border-box;
}

.error {
    margin-top: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
}

.input-container {
    position: relative;
    width: 100%;
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form input[type="email"],
.registration-form input[type="url"] {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    background-color: #b0c2d0;
    color: #000000 !important;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
}

.registration-form input:focus {
    outline: none !important;
    border-bottom: 2px solid #4caf50 !important;
}

.registration-form button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
}

.registration-form button:hover {
    background-color: #45a049;
}

.back_to_login {
    color: #9afba2;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-decoration: none !important;
    display: inline-block;
    margin-top: 15px;
}

.back_to_login:hover {
    color: #c4f8c2;
    text-decoration: none;
}

.user_spinner {
    width: 20px;
    height: 20px;
    border: 4px solid #ffffff;
    border-top: 4px solid #4caf50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@media (max-width: 768px) {
    .registration-form {
        margin-top: 150px;
    }
}

@media (max-width: 376px) {
    .registration-container {
        padding: 20px;
    }
}