body {
    background-color: #1e272e;
    font-family: Arial, sans-serif;
    color: #fff;
}

.registration-form h2 {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.registration-form {
    background-color: #34495e4b;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.registration-form h2 {
    color: #fff;
    margin-bottom: 40px;
}

.registration-form input {
  box-sizing: border-box;
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form input[type="email"] {
  width: 100%;
  margin: 10px auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #b0c2d0;
  color: #000000 !important;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
  transition: border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.registration-form input:focus {
    outline: none !important;
    border-bottom: 2px solid #4caf50 !important;
}

.registration-form button {
    width: 100%;
    margin-top: 25px;
    padding: 15px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
}

.registration-form button:hover {
    background-color: #45a049;
}

.back_to_login {
    color: #9afba2;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-decoration: none !important;
    display: inline-block;
    margin-top: 15px;
  }
  
  .back_to_login:hover {
    color: #c4f8c2;
    text-decoration: none;
  }

@media (max-width: 768px) {
    .registration-form{
        margin-top: 150px;
    }
}